@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";

    String title = "Software Engineer";
    String subTitle = ".Net Developer - C# Programmer";

    String[] skills_1 = new String[] { "HTML", "CSS", "Javascript", "PHP", "Database" };
    String[] skills_2 = new String[] { "C#", "C / C++", ".Net", "Blazor", "Razor Pages", "Azure" };
    String[] skills_3 = new String[] { "Unity", "Github", "Google APIs", "Android" };

    void PurpleStarIconDivider()
    {
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    }

    void WhiteStarIconDivider()
    {
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    }

    //Sort list of strings by number of characters not 
    //alphanumerically. Reverse string so we create arrows
    //pointing downwards. AQ 7/22/22

    String[] skillSort(String[] unsortedStringList)
    {


        if (unsortedStringList != null
            && unsortedStringList.Length > 1)
        {
            unsortedStringList = unsortedStringList
            .OrderBy(x => x.Length).ToArray();

            unsortedStringList = unsortedStringList.Reverse().ToArray();
        }

        return unsortedStringList;
    }

}


<header class="masthead text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase text-secondary mb-0">Alfred Quezada</h1>
        <!-- Icon Divider-->
        @{
            PurpleStarIconDivider();
        }
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">@title</p>
        <p class="masthead-subheading font-weight-light mb-0">@subTitle</p>
    </div>
</header>
<!--body id="page-top">-->
<!-- Skills Section-->
<section id="skills" class="page-section bg-primary text-white mb-0">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Skills</h2>
        <!-- Icon Divider-->
        @{
            WhiteStarIconDivider();
        }
        <!-- Skill Section Content-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="text-center col-md-6 col-lg-4 mb-4">
                @foreach (String skill in skillSort(skills_1))
                {
                    @skill <br />
                }
            </div>
            <div class="text-center col-md-6 col-lg-4 mb-4">

                @foreach (String skill in skillSort(skills_2))
                {
                    @skill <br />
                }
            </div>
            <div class="text-center col-md-6 col-lg-4 mb-4">
                @foreach (String skill in skillSort(skills_3))
                {
                    @skill <br />
                }
            </div>
        </div>
</section>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        @{ 
            PurpleStarIconDivider();
        }
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h3 class="text-center">Task Manager App</h3>
                <h5 class="text-center">Angular2 + Firebase App</h5>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/TaskTrackerIcon.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h3 class="text-center">Sunset Session</h3>
                <h5 class="text-center">Android Game</h5>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/SunsetSessionIcon.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4">
                <h3 class="text-center">Research</h3>
                <h5 class="text-center">& Future Projects</h5>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/ResearchTech.png" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        @{ 
            WhiteStarIconDivider();
        }
        <!-- About Section Content-->
        <div>
            <div class="col-lg-4 m-auto"><p class="lead">My name is Alfred Quezada, I am located in the San Francisco Bay Area. I am a C# programmer with experiece in Unity game development as well as .Net Core applications. </p></div>
        </div>
    </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        @{ 
            PurpleStarIconDivider();
        }
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7 m-auto">
                <p class="text-center">
                    <button class="btn btn-primary">
                        <a href="mailto:alfredq11@gmail.com?subject=We noticed your profile!&body=Hi Alfred,<br/>    We would love to schedule some time to chat!<br/><br/>Hiring Manager" style="color: white; text-decoration: none;">Alfredq11@gmail.com</a>
                     </button>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">In-Development Projects</h2>
                            <!-- Icon Divider-->
                            @{ 
                                PurpleStarIconDivider(); 
                            }
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="assets/img/portfolio/TaskTrackerIcon.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <button class="btn btn-primary">
                                <a href="http://taskmanager.spacemacaw.com/"
                                   style="color: white; text-decoration: none;">Link to Application</a>
                            </button><br><br>
                            <p class="mb-4">Task Managment Angular2+ application that links to a Firesbase backend.</p>
                            <h4>Purpose:</h4>
                            <p>    The purpose of this application will be to add and delete tasks that the user would like to keep track of. Each task will comprise of a title, description and due date.</p>
                            <h4>Technologies used:</h4>
                            <p>   This projector uses Angular 17, Firebase Firestore for cloud storage, Firebase Authentication for authorizing users and linking taskst to users. The front end will use Angular Material, and the user will be able to login via their Google account.</p>
                            <h5>Status : Completed  </h5>

                            <button class="btn btn-primary"
                                    data-bs-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Games Developed</h2>
                            <!-- Icon Divider-->
                            @{ 
                                PurpleStarIconDivider();
                            }
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="assets/img/portfolio/SunsetSessionIcon.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <h2>Sunset Session</h2>
                            <a href='https://play.google.com/store/apps/details?id=com.AlfredQuezada.SidewalkSession&hl=en_US&gl=US&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                <img alt='Get it on Google Play'
                                     src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' />
                            </a><br>
                            <a href="https://www.spacemacaw.com/SunsetSessionPrivacyPolicy/">Privacy Policy</a>
                            <p class="mb-4">I developed this game using Unity and was written in C#. This game takes advantage of the Unity Game Engines physics system, events, coroutines, graphic shaders and Unity Ads for monetization. </p>
                            <p>Integrated Google Play services to use Leaderboards and Achievements.</p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Research</h2>
                            <!-- Icon Divider-->
                            @{ 
                                PurpleStarIconDivider();
                            }
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="assets/img/portfolio/ResearchTech.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <h2>Currently I am researching the below technologies:</h2>
                            <ul>
                                <li>.Net Core</li>
                                <li>Blazor</li>
                                <li>C# Development</li>
                                <li>Unity Game Development</li>
                                <li>Microsoft Azure</li>
                                <li>Google Play Game Services</li>
                            </ul>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!----body>-->